{% extends '../base.html' %}
{% load static %}

{% block title %}
  Rota IFSP - Cadastro
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'register.css' %}" />
{% endblock %}

{% block header %}
<div class="d-flex justify-content-between p-0">
      <div class="p-1 gap-1 d-flex justify-content-start align-items-center me-auto ms-2 my-0">
        <img src="{% static '/img/rota_icon512.png' %}" style="width: 3rem;" />
        <p class="mt-3 fs-3 fw-bold">
          ROTA <span class="text-success">IFSP</span>
        </p>
      </div>
      <div class="p-1 gap-2 d-flex justify-content-end align-items-center me-3 my-0">
        <a href="#" class="text-decoration-none primary-text d-flex align-items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
          </svg>
          Voltar para o login
        </a>
      </div>
    </div>
    <hr class="my-0">
{% endblock header %}

{% block content %}

<div class="col-8">
    
</div>

<div class="col-4">
</div>

{% endblock %}
